* {
  margin: 0;
  
}

body, html {
 margin:0;
 background: #96b8c5;
 font-family: 'Poppins', sans-serif;
}

#pet-images{
    display:flex;
    flex-wrap:wrap;
   
    margin:5px;
    justify-content: center;
    align-items: center;

}
#pet-images p{
    text-align: center;
}
.pet-container{
    background: #274c5a;
    color:white;
    font-weight:600;
    display:flex;
    flex-direction: column;
    min-width:300px;
    height:400px;
    flex:1;
    margin:3rem;
    border-radius:8px;
    gap:2rem;

}
.pet-container p{
    font-weight:600;
}
.pet-picture-container {
    margin:0 auto;
   
   
}
.pet-picture-container img{
    width:100px;
    border-radius:50%;
} 
.header{
    font-weight:700;
    text-align: center;
    font-size:24px;
    color:white;
    width:80%;
    margin:0 auto;
}

.describe-pet{
    font-size:1.3rem;
    text-align: center;
}